*{

    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.body{
    font-family: "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #3D3D3D;
    padding-top: 171px;
}
.catalog-left {
    width: 285px;
    margin-right: 20px;
    float:left;
}
.menu {
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 370px;
    padding-top: 14px;
    padding-left: 18px;
}
.menu h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
}
.menu li a {
    text-decoration: none;
    color: #3D3D3D;
}
.menu ul {
    list-style-type: none; /* Убирает точки */
    margin: 0;
    padding: 0;
}
.menu ul li a:hover {
    color: #46A358; 
    
}
.baner {
    width: 100%;
    height: auto;
}
.baner img {
    display: block;
    width: 100%;  /* Картинка растянется на все 285px */
    height: auto;
}
.catalog-main {
   width: 895px;
   float: left;
}
.catalog-filter {
   width: 100%; /* Убедись, что он занимает всю ширину catalog-main */
    margin-bottom: 31px;
    position: relative;
}
.catalog-filter-link {
    float: left;
}

.catalog-filter-link ul {
    list-style: none; /* Убираем точки */
    padding: 0;
}

.catalog-filter-link ul li {
    display: inline-block; /* Ставим в ряд */
    margin-right: 35px;
}

.catalog-filter-link ul li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    padding-bottom: 7px; /* Место для линии */
    display: block;
}

/* Стиль для активной "кнопки" с зеленой полоской */
.catalog-filter-link ul li a.active-link {
    color: #46A358;
    font-weight: bold;
    border-bottom: 3px solid #46A358; /* Та самая полоска из макета */
}

/* Эффект при наведении */
.catalog-filter-link ul li a:hover {
    color: #46A358;
}
.catalog-sort {
    float: right;
    line-height: 25px;
    
}
.sort-select {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
.catalog-item {
    float: left;
    width: 285px;
    margin-right: 20px;
    margin-bottom: 70px;

}
.catalog-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.catalog-item-pic {
    height: 300px;
    background-color:  #FBFBFB;;
    text-align: center;
    padding-top: 20px;
}
.catalog-item-pic img{
    width: 250px;
    height: 250px;
    
}
.mr-0 {
    margin-right: 0;
}
.catalog-item-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 6px;
}
.catalog-item-price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    font-weight: bold;
}
.catalog-navigation {
    float: right;
    margin-bottom: 82px;
    margin-left: 10px;
}
.catalog-navigation button {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    background: #fff;
    color: #3D3D3D;
    cursor: pointer;
}
.catalog-navigation button:focus {
    background: #46A358;
    color: #fff;
    border-color: #46A358;
}
