@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    box-sizing: border-box;
}
.body {
    font-family: "Cera Pro";
    font-style: normal;
    color: #3D3D3D;
    background-color: #FFFFFF;
}
.wrapper {
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 10px;
}
.img-responsive {
    width: 100%;       
    height: auto;  
}

.header {
    padding: 17px 0 16px 0;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    height: 73px;         
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
}
.logo {
    height: auto;
    min-width: 150px;
    
}

.navigation {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
}
.navigation > li {
    position: relative;
    padding: 0;
}
.navigation > li:hover ul {
    display: block;
}
.navigation > li > a {
    
    display: flex;
    align-items: center;
    height: 78px;
    text-decoration: none;
    color: #3D3D3D;
    position: relative;
    
}
.navigation > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;  
    width: 100%;
    height: 3px;
    background-color: transparent;
}
.navigation > ul {
    list-style: none;
    display: flex;       
    gap: 50px; 
    justify-content: center;

}
.navigation > ul > li {
    padding: 0;
    margin: 0;   
}
.navigation > li:hover > a::after {
    background-color: #46A358;
}
.navigation ul {
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 87px;
    display: none;
}
.navigation ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: -14px;
    width: 100%;
    height: 14px;
    background-color: transparent;
}

.navigation ul a {
    background-color:#EDF6EE;;
    padding: 5px;
    text-decoration: none;
    color: #3D3D3D;
    display: flex;
    padding: 7px 102px 8px 14px;
    align-items: center;
    
}
.nav-hover li a:hover  {
    color: #46A358;
}
.active {
    font-weight: 700;
}
.line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 16px;
    text-align: right;
    min-width: 180px;
    
   
   
}
.search {
    border: none;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    
}


.shop {
    text-decoration: none;
    position: relative;
    display:flex;
}

.number {
   position: absolute;
    top: -2px;   
    right: -8px;   
    width: 16px;   
    height: 16px;
    background-color: #46A358;
    border: 2px solid #FFF; 
    border-radius: 50%;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #FFF;
    font-size: 10px; 
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.quantity {
   color: #FFF;
    font-size: 10px; 
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.login {
    display: flex;           
    justify-content: center; 
    align-items: center;   
    background-color: #46A358;
    border-radius: 6px;
    padding: 8px 16px 8px;
    text-decoration: none;
    color: #FFFFFF;
    gap: 8px;
}
.main {
    margin-bottom: 146px;
}
.section {
    margin-top: 2px;
    max-width: 100%;
    margin-top: 0;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    padding-bottom: 10px;
    margin-bottom: 0;
}
.capa-list {
    display: flex;
    justify-content: space-between;
    padding: 78px 0 0;
    height: 450px;
}

.capa-list > .capa:first-child {
    padding-top: 0; 
    padding-left: 40px;
    flex: 1 1 50%;
}



.capa-list > .capa:last-child {
    flex: 0 1 45%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.capa-list > .capa:last-child .plant {
    max-width: 100%;     
    height: auto;       
    
}

.capa.text {
    vertical-align: middle;  
    font-size: 16px;  
    padding-left: 40px;
}
.wel {
    font-size: 14px;
    line-height: 16px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4px;
}
.title {
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 9px;
    

}
.span {
    color: #46A358;
}
.description {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 52px;
}
.button-shop {
    color: #FFF;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
    padding: 9px 27px 9px 26px;
    text-transform: uppercase;
}


.plant {   
    max-width: 100%;
    height: auto;
   
    
}


.catalog {
    display: flex;
    margin: 61px -10px 0;
    
    
}
.catalog-left {
    width: 25%;
    padding: 0 10px;
}
.catalog h3 {
   font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 7px;
    margin-left: 25px;
}
.menu {
    width: 100%;
   
}
.menu li {
  list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 36px; 
  
}
.menu ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    
}
.menu ul a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}
.menu a:hover  {
    color: #46A358;
    font-size: 15px;
    line-height: 40px; 
}
.baner {
    width: 100%;
  
}
.baner img {
    width: 100%;
    height: auto;
   
}
.catalog-main {
    width: 75%;
    margin-top: -16px;    
    padding: 0 10px;
    
}
.catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.catalog-filter-link li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    padding-bottom: 7px; 
    font-weight: 400;
    line-height: 16px;
}
.catalog-filter-link ul {
    list-style: none;
    display: flex;
    padding: 0;

}

.catalog-filter-link li {
   
    margin: 0 47px 0 0;
    
}

.active-link {
    font-weight: 700;
    color: #46A358;
    border-bottom: 2px solid #46A358;
}


.catalog-sort {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.sort-label {
    color: #3D3D3D;
    display: flex;
    align-items: center;
}



.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 24px;
    align-items: flex-start;
}

.item {
   width: 33.333%;
   padding: 0 10px;
   display: flex;
   margin: 0 -10px;
   flex-wrap: wrap;
}
.item a {
    text-decoration: none;
}


.catalog-item-pic {
    height: 300px; 
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.catalog-item {
    padding: 10px 0;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid transparent;
    position: relative;
}

.catalog-item-title {
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 16px;
    margin-top: 8px;
}
.sale {
    display: flex;
    align-items: center;
}
.catalog-item-price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    
}
.item-price-sale {
    color: #A5A5A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: line-through;
    padding-left: 50%;
    transform: translateX(-50%);
}
.catalog-navigation {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 75px;
    margin-right: 10px;
}

.catalog-navigation a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    background-color: #FBFBFB;
}
.catalog-label {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px; 
    background-color: #46A358;
    padding: 7px 8px 6px 9px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
}
.catalog-icons {
    position: absolute;
    transform: translateX(-50%);
    bottom: 7px;
    width: 135px;
    justify-content: space-between;
    left: 50%;
    display: none;
}
.catalog-item:hover .catalog-icons{
    display: flex;
}
.catalog-item:hover {
    border-top: 1px solid #46A358;
}
.catalog-icons a {
    width: 35px;
    height: 35px;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-icons a:hover path {
    fill: #46A358;
}

.catalog-navigation .nav-link.active-1 {
    background-color: #46A358;
    color: #fff;
    border: none;
}

.nav-arrow {
    background-color: #FBFBFB;
}
.plants-bottom {

    display: flex;
    margin-top: 109px;
    flex-wrap: wrap;  
    justify-content: space-around;   
    gap: 20px;       
}
.plant-left,
.plant-right {
    width: 48.5%;  
    display: flex;
    align-items: center;
    background:  #FBFBFB;
    
}

.img-succulents {
    width: 45%;       
    padding: 0;
}



.title-right {
    width: 55%;                   
    display: flex;
    flex-direction: column;
    align-items: flex-end;       
    text-align: right;
    padding: 0 19px 0 0;
}


.title-article {
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 21px;
}


.item-p {
    font-family: "Cera Pro";
    font-size: 14px;
    color: #727272;
    line-height: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}


.btn-more {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #46A358;
    padding: 10px 25px;
    border-radius: 6px;
}

.more  {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
}



