
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 10px;
}
.body {
    font-family: "Cera Pro";
    font-style: normal;
    color: #3D3D3D;
    line-height: 16px;   
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

   
.popup {
    padding: 50px 100px; /* Увеличил внутренние отступы для центровки контента */
    border-bottom: 10px solid #46A358;
    background: #ffffff;
    border-radius: 5px;    
    text-align: center;   
    width: 100%;
    max-width: 500px;
}
.butt {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.butt-log, .butt-reg {          
    font-size: 20px;      
    font-weight: 500;     
    border: none;        
    background: none;    
    cursor: pointer;    
    padding: 0;         
    outline: none;      
}

.butt-log {
    color: #3D3D3D;
}

.butt-reg {
    color: #46A358;
}
.butt-log::after {
    content: "|";
    margin-left: 10px;
    color: #EAEAEA;
    cursor: default;
}

.title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 14px;
    color: #3D3D3D;
}

.form-input {
    width: 300px; /* Фиксированная ширина как у кнопок */
    height: 40px;
    font-size: 14px;
    color: #3D3D3D;
    font-weight: 400;
    padding: 0 14px;
    border: 1px solid #EAEAEA; /* Светлая рамка из макета */
    border-radius: 5px;
    margin-bottom: 16px;
    outline: none;
}
.form-input::placeholder {
    color: #A5A5A5;
}

.form-input {
    margin-bottom: 40px;
}

.button {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background: #46A358;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-bottom: 36px;
}

.choice {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 27px;
    color: #3D3D3D;
}

.social-google,
.social-facebook {
    display: inline-flex;      
    align-items: center;
    justify-content: center;
    width: 300px;              
    height: 40px;            
    font-size: 13px;
    font-weight: 500;
    color: #727272; /* Серый текст кнопок */
    border-radius: 5px;
    border: 1px solid #EAEAEA; /* Светлая рамка */
    background: none;
    cursor: pointer;
    margin-bottom: 15px;
    gap: 10px; /* Отступ между иконкой и текстом */
}

.social-facebook {
    margin-bottom: 40px;
}