@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    box-sizing: border-box;
}
.body {
    font-family: "Cera Pro", "Tahoma", sans-serif;
    font-style: normal;
    color: #3D3D3D;
    background-color: #FFFFFF;
}
.wrapper {
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 10px;
}
.img-responsive {
    max-width: 100%;       
    height: auto;  
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    padding: 20px 0 12px 0;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    height: 73px;         
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 10px; 

}

.navigation {
    list-style: none;
    display: flex;
    gap: 51px;
    padding: 0;
    padding-bottom: 7px;
    
}
.navigation > li {
    position: relative;
}
.navigation > li:hover ul {
    display: block;
    
}
.navigation > li > a {
    
    display: flex;
    align-items: center;
    height: 78px;
    text-decoration: none;
    color: #3D3D3D;
    position: relative;
    
}

.navigation > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;  
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition-duration: 0.3s;
    transition-property: background-color;
}
.navigation > ul {
    list-style: none;
    display: flex;        
    justify-content: center;

}

.navigation > li:hover > a::after {
    background-color: #46A358;

}
.navigation ul {
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 87px;
    display: none;
}
.navigation ul::before {
    content: "";
    position: absolute;
    left: 0;
    top: -14px;
    width: 100%;
    height: 14px;
    background-color: transparent;
}

.navigation ul a {
    background-color:#EDF6EE;
    text-decoration: none;
    color: #3D3D3D;
    display: flex;
    padding: 7px 102px 8px 14px;
    align-items: center;
    
}
.nav-hover li a:hover  {
    color: #46A358;
}
.active {
    font-weight: 700;
}
.line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 16px;
    text-align: right;
    min-width: 180px;
    
   
   
}
.search {
    border: none;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    margin-top: -5px;
}


.shop {
    text-decoration: none;
    position: relative;
    display:flex;
    margin: -5px 5px 0 -6px;
}

.number {
   position: absolute;
    top: -2px;   
    right: -8px;   
    width: 16px;   
    height: 16px;
    background-color: #46A358;
    border: 2px solid #FFF; 
    border-radius: 50%;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #FFF;
    font-size: 10px; 
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.quantity {
   color: #FFF;
    font-size: 10px; 
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.login {
    display: flex;           
    justify-content: center; 
    align-items: center;   
    background-color: #46A358;
    border-radius: 6px;
    padding: 8px 16px 8px;
    text-decoration: none;
    color: #FFFFFF;
    gap: 7px;
    margin-top: -6px;
}
.section {
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    padding: 2px 0 0;
    
}
.capa-list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.capa-circle {
    width: 57%; 
    align-self: flex-start;
    padding: 69px 0 0 40px;
}

.img-capa {
    width: 43%; 
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-left: 10px;
    
}

.main {
    border-bottom: 0.5px solid #46A358;
}
.capa.text {
    font-size: 16px;  
    padding-left: 40px;
}
.wel {
    font-size: 14px;
    line-height: 16px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    
}
.title {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    padding: 2px 0 10px;
    

}
.span {
    color: #46A358;
}
.description {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    padding: 0 0 50px;
}
.button-shop {
    color: #FFF;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
    padding: 9px 27px 9px 26px;
    text-transform: uppercase;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.catalog-left {
    width: 25%;
    padding: 60px 10px 0 10px;
    
    
}
.catalog h3 {
   font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 7px;
    margin-left: 17px;
}
.menu {
    background: #FBFBFB;
}
.menu li {
  list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 28px; 
  
}
.menu ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    
}
.menu ul a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    transition-duration: 0.5s;
    transition-property: color;
}
.menu a:hover  {
    color: #46A358;
    font-size: 15px;
    line-height: 40px; 
}

.baner {
    width: 100%;
}
.baner img {
    width: 100%;
    height: auto;
   
}
.catalog-main {
    width: 75%;    
    padding: 43px 10px 29px;
    
}
.catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}

.catalog-filter-link li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    padding-bottom: 7px; 
    font-weight: 400;
    line-height: 16px;
    transition-duration: 0.5s;
    transition-property: color;
}
.catalog-filter-link ul {
    list-style: none;
    display: flex;
    padding: 0;

}

.catalog-filter-link li {
   
    margin: 0 47px 0 0;
    
}
.catalog-filter-link a:hover {
    color: #46A358;
    
}
.active-link {
    font-weight: 700;
    color: #46A358;
    border-bottom: 2px solid #46A358;
}


.catalog-sort {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.sort-label {
    color: #3D3D3D;
    display: flex;
    align-items: center;
    
}
.sort-select {
    background-image: url(../img/select.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    appearance: none;
    font-size: 15px;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-weight: 400;
    padding: 0 5px 0 10px;
}

.sorting {
    padding: 0 15px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    align-items: flex-start;
}

.item {
   width: 33.333%;
   padding: 1px 10px 55px;
   
}
.item a {
    text-decoration: none;
}

.catalog-item-pic {
    height: 300px; 
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 18px;
}


.catalog-item {
    padding: 10px 0;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid transparent;
    position: relative;
    transition-duration: 0.3s;
    transition-property: border;
    
}

.catalog-item-title {
    font-size: 16px;
    padding: 5px 0 4px;
    line-height: 16px;
    margin-top: 8px;
    color: #3D3D3D;
}
.sale {
    display: flex;
    align-items: center;
}
.catalog-item-price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    
}
.item-price-sale {
    color: #A5A5A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: line-through;
    padding-left: 64%;
    transform: translateX(-64%);
    
}
.catalog-navigation {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 0 0;
    
}

.catalog-navigation a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    background-color: #FBFBFB;
}
.catalog-label {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px; 
    background-color: #46A358;
    padding: 7px 8px 6px 9px;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}
.catalog-icons {
    position: absolute;
    transform: translateX(-50%);
    bottom: 17px;
    width: 135px;
    justify-content: space-between;
    left: 50%;
    display: none;
  
}
.catalog-item:hover .catalog-icons{
    display: flex;
}
.catalog-item:hover {
    border-top: 1px solid #46A358;

}
.catalog-icons a {
    width: 35px;
    height: 35px;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.catalog-icons a:hover path {
    fill: #46A358;
}
.catalog-icons a path {
    transition-duration: 0.3s;
    transition-property: fill;
}
.catalog-navigation .nav-link.active-1 {
    background-color: #46A358;
    color: #fff;
    border: none;
}
.catalog-navigation {
    padding: 2px;
}

.nav-arrow {
    background-color: #FBFBFB;
}
.plants-bottom {
    display: flex;
    gap: 20px;
    justify-content: space-between; 
    padding-top: 74px;
}

.plant-left,
.plant-right {
    width: 50%;  
    display: flex;
    align-items: stretch;
    background: #FBFBFB;
    min-height: 290px;
}

.img-succulents {
    width: 46%; 
    height: auto;
    display: flex;
    justify-content: center;
}
.img-succulents .img-responsive {
    height: 100%;
    object-fit: cover; 
}
.title-right {
    width: 54%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right;
    padding: 58px 21px 15px 0; 
   
    
}
.plant-right .item-p,
.plant-right .more {
    padding-right: 3px; 
}
.title-article {
    font-size: 18px;
    font-weight: 900;
    line-height: 23px; 
    text-transform: uppercase;
    color: #3D3D3D;
    margin: 0 0 15px 0;
}

.item-p {
   font-size: 14px;
    color: #727272;
    line-height: 23px; 
    padding: 0;
    margin: 11px 0 22px 0;
}
.plant-right .item-p {
    margin-bottom: 20px;
}
.btn-more {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 5px;
    background: #46A358;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 26px 10px; 
    border-radius: 6px;
}

.more {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.blogs-btm {
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    
}
.btm-title-item {
    text-align: center;
 
}
.blogs-btm h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 1px 0 6px 20px;
}
.btm-title {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 30px;
}

.blog-item {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}
.art-title{
    padding: 8px 15px 0;
}
.art-blog {
    width: 25%;
    padding: 0 10px;
}
.art-blog h3{
font-size: 20px;
font-weight: 700;
line-height: 26px; 

}
.background-art {
    background: #FBFBFB;
}
.blogs-btm a {
    text-decoration: none;
    color: #3D3D3D;
}
.sept {
   color: #46A358;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0 5px;
    line-height: 16px;
    word-spacing: 1px; 
    height: auto;
}
.blog-title {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 3px;
}
.btn-blogs {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 15px;
    transition-duration: 0.5s;
    transition-property: color;
}

.art-blog:hover .btn-blogs {
    color: #46A358;
    
}
.art-blog:hover path {
    fill: #46A358;
}
.article-plant {
    display: flex;
    background: #FBFBFB;
    padding-top: 97px;
}
.plant-info {
    width: 20%;
    padding: 27px 0 7px 0;
    margin-right: 14px;
}
.info-title{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 
    padding: 7px 0 ;
}
.form-item {
    width: 35%;
    padding: 36px 0 0 33px;
    margin-left: auto; 
   
}
.info-item {
    padding: 10px 0;
}
.info-item h4{ 
    font-size: 17px;
    font-weight: 700;
}
.form-item h4 {
    font-size: 18px;
    font-weight: 700;
   
}
.form-btm {
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; 
    text-align: justify;
    padding: 0 34px 0 0 ;
}
.form-input {
    width: 76%; 
    height: 40px;
    border: 1px solid #E5E5E5;
    padding: 13px 12px;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    color: #ACACAC;
    line-height: 16px;
}
.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.form-title {
    display: flex;
    width: 100%;
    padding: 16px 34px 15px 0;
}
.button-form {
    width: 24%; 
    height: 40px;
    border-radius: 0 6px 6px 0;
    border: none;
    background: #46A358;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding-left: 18px;
}
.footer {
    padding-bottom: 35px ;
    
}
.greenline {
    background-color: rgba(70, 163, 88, 0.1);
    
}
.contact-line {
    padding: 21px 0 19px;             
    display: flex;
    align-items: center;          
    justify-content: flex-start;  
}

.logo-contant {
    margin: 2px 110px 0 0; 
}
.contact a:hover {
    color: #46A358;
}
.contact {
    display: flex;
    align-items: center;
    width: auto; 
    margin-right: 68px; 
    text-decoration: none;
    color: #3D3D3D;
}

.contact:last-child {
    margin-right: 0;
}

.contact a {
    display: flex; 
    align-items: center; 
    gap: 10px;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    transition-duration: 1s;
    transition-property: color;
}
.contact:nth-child(3) {
    margin-top: -3px; 
    margin-right: 60px; 
}

.contact:nth-child(4) {
    margin-top: -3px; 
}
.footer-item {
    display: flex;
    justify-content: space-between; 
    padding: 30px 0;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2); 
    border-top: 0.5px solid #46A358;
    width: 100%;
    margin: 0 -10px;
    
}

.footer-title {
    display: flex;
    width: 65%;
    padding:0  10px;
   
}

.footer-help {
   
    width: 33.33%;
}
.footer-help li:hover a {
    color: #46A358;
}
.footer-social {
    width: 25%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 77px;
}
.footer-help + .footer-help {
    margin-left: 3px; 
}
.footer-help + .footer-help + .footer-help {
    margin-left: 1px; 
}
.social-list ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 15px 0 30px 0; 
}

.social-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    transition: 0.3s;
    transition-duration: 0.3s;
    transition-property: border-color;
}

.social-list li a:hover {
    border-color: #46A358;
}

.footer-help h3{
    font-size: 18px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 4px;
}
.social-list h3 {
    font-size: 18px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 6px;
}

.pay h3 {
 font-size: 18px;
    font-weight: 700;
    color: #3D3D3D;
    margin-bottom: 10px;
}
.ul-footer {
    list-style: none;
    padding: 0;
}

.ul-footer a {
    font-size: 14px;
    line-height: 30px; 
    color: #3D3D3D;
    text-decoration: none;
}